<div class="container">
  <h2 class="text-center pb-2 mt-4 mb-2 border-bottom">Editar cadastro</h2>
  <h5 class="text-center"><%= @user.nome %></h5>

  <%= form_with model: @user, url: cadastro_path(@user), method: :patch do |f| %>

    <div class="form-group">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="actions text-center">
        <%= f.submit "Update", :class => "btn btn-lg btn-outline-primary" %>
      </div>
    </div>

  <% end %>

  <%= link_to "Back", :back %>
</div>