<% if current_user.cargo == "Admin" %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5">Administração</h1>
      <p class="lead">Cadastro, edição e remoção de administradores e secretários.</p>
    </div>
  </div>
  <div class="container">

    <table class="table table-bordered table-hover table-responsive-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Matrícula</th>
          <th scope="col">Cargo</th>
          <th colspan="2" scope="colgroup">Controles</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.nome %></td>
            <td><%= user.matricula %></td>
            <td><%= user.cargo %></td>
            <% if user.cargo == "Admin" || user.cargo == "Secretaria" || user.cargo.nil? %>
              <td class="text-center"><%= link_to 'Editar', '#', :class=>"btn btn-secondary btn-sm" %></td>
              <td class="text-center"><%= link_to 'Remover', '#', :class=>"btn btn-danger btn-sm" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-right">
      <%= link_to "Cadastrar novo usuário", new_cadastro_path, :class => "btn btn-lg btn-light text-primary" %>
    </div>

  </div>


<% elsif current_user.cargo == "Secretaria" %>
  <h2 class="text-center pb-2 mt-4 mb-2 border-bottom">Menu Secretaria</h2>
<% elsif current_user.cargo == "Professor" %>
  <h2 class="text-center pb-2 mt-4 mb-2 border-bottom">Menu Professor</h2>
<% else %>
  <h2>Alguma coisa deu muito errado e você não deveria estar aqui.</h2>
<% end %>