<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <% if current_user.admin? %>
      <h1 class="display-5">Administração</h1>
      <p class="lead">Cadastro, edição e remoção de administradores e secretários.</p>
    <% elsif current_user.secretaria? %>
      <h1 class="display-5">Secretaria</h1>
      <p class="lead">Cadastro, edição e remoção de professores.</p>
    <% elsif current_user.professor? %>
      <h1 class="display-5">Professores</h1>
      <p class="lead">¯\_(ツ)_/¯</p>
    <% else %>
      <h1 class="display-5">Você não deveria estar aqui.</h1>
      <p class="lead">hmm.</p>
    <% end %>
  </div>
</div>
<div class="container">

  <table class="table table-bordered table-hover table-responsive-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Matrícula</th>
        <th scope="col">Email</th>
        <th scope="col">Cargo</th>
        <th colspan="2" scope="colgroup">Controles</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.id %></th>
          <td><%= user.nome %></td>
          <td><%= user.matricula %></td>
          <td><%= user.email %></td>
          <td><%= user.cargo %></td>
          <td class="text-center"><%= link_to 'Editar', edit_cadastro_path(user), class: "btn btn-secondary btn-sm" %></td>
          <td class="text-center"><%= link_to 'Remover', cadastro_path(user), method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-right">
    <%= link_to "Cadastrar novo usuário", new_cadastro_path, class: "btn btn-lg btn-light text-primary" %>
  </div>

</div>