<div class="container">
  <h2 class="text-center pb-2 mt-4 mb-2 border-bottom">Turma <%= @turma.nome %></h2>

  <div class="w-75 container">

    <ul class="list-group shadow pb-2">
      <li class="list-group-item lead text-center"><%= @turma.nome %></li>
      <li class="list-group-item text-center">Início: <%= @turma.inicio.strftime('%H:%M') %> | Fim: <%= @turma.fim.strftime('%H:%M') %></li>
      <li class="list-group-item text-center">Carga Horária Mínima: <%= @turma.cargamin %>hrs | Carga Horária Máxima: <%= @turma.cargamax %>hrs </li>
      <li class="list-group-item text-center">Dia da semana: <%= @turma.dias %></li>
      <li class="list-group-item text-center">Capacidade: <%= @turma.capacidade %> alunos<span class="text-muted"> (<%= vagas_restando(@turma) %> restando)</span></li>
      <li class="list-group-item text-center"><% if @turma.user_id.nil? %>Professor: [Não Alocado]<% else %>Professor: <%=User.find(@turma.user_id).nome%><% end %></li>
      <li class="list-group-item text-center"><%= link_to 'Editar', edit_turma_path(@turma), class: "btn btn-primary" %></li>
    </ul>


    <% if @turma.alunos.count != 0 %>
      <div class="containter pb-2">
        <h5 class="pb-2 mt-4 mb-2 border-bottom">Alunos</h5>

        <table class="table table-bordered table-hover table-responsive-sm">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Aluno ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Email</th>
            <th colspan="2" scope="colgroup">Controles</th>
          </tr>
          </thead>
          <tbody>
          <% @turma.alunos.each do |aluno| %>
            <tr>
              <th scope="row"><%= aluno.id %></th>
              <td><%= aluno.nome %></td>
              <td><%= aluno.matricula %></td>
              <td><%= aluno.email %></td>
              <td class="text-center"><%= link_to 'Editar', edit_turma_aluno_path(@turma, aluno), class: "btn btn-secondary btn-sm" %></td>
              <td class="text-center"><%= link_to 'Remover', [aluno.turma, aluno], method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if @turma.alunos.count < @turma.capacidade %>
      <h5 class="pb-2 mt-4 mb-2 border-bottom">Adicionar um aluno</h5>
      <%= form_with model: [@turma, @turma.alunos.build], local: true do |f| %>
        <div class="form-group">
          <div class="field">
            <%= f.label :nome, "Nome" %><br />
            <%= f.text_field :nome, autofocus:true, autocomplete: "nome", :class => "form-control" %>
          </div>
        </div>

        <div class="row">

          <div class="col-6">
            <div class="form-group">
              <div class="field">
                <%= f.label :matricula, "Matrícula" %><br />
                <%= f.text_field :matricula, autocomplete: "matricula", :class => "form-control" %>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <div class="field">
                <%= f.label :email, "E-mail" %><br />
                <%= f.email_field :email, autocomplete: "email", :class => "form-control" %>
              </div>
            </div>
          </div>
        </div>

        <div class="actions text-center">
          <%= f.submit "Cadastrar Aluno", :class => "btn btn-lg btn-outline-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>


  <%= link_to 'Voltar', turmas_path %>
</div>
