<!DOCTYPE html>
<html>
  <head>
    <title>Frequencia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if current_user %>
        <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Abc</a>
          <span style="color:white">Olá, <%= current_user.nome %> | <%= current_user.matricula %> | <%= current_user.email %> | <%= current_user.cargo %></span>

          <div class="btn-group">
            <%= button_to "Editar e-mail", '#', :class => "btn btn-outline-light border-0 rounded-0", :method => :get %>
            <%= button_to "Cadastrar novo usuário", cadastros_path, :class => "btn btn-outline-light border-0 rounded-0", :method => :get %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-outline-light border-0 rounded-0" %>
          </div>
        </nav>
      <% end %>
      <%= flash_messages %>

      <%= yield %>
    </div>
  </body>
</html>
