<!DOCTYPE html>
<html>
  <head>
    <title>Frequencia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if current_user %>
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="/">Abc</a>
          <form class="form-inline">
            <div class="btn-group" role="group">
              <button class="btn btn-outline-primary" type="button">Cadastrar novo usuário</button>
              <button class="btn btn-outline-danger" href=destroy_user_session_path type="button">Log Out</button>
            </div>
          </form>
        </nav>
      <% end %>
      <%= flash_messages %>

      <%= yield %>
    </div>
  </body>
</html>
